nav {
    width: 100%;
    height: 90px;
    background-color: transparent;
    color: white;
    position: absolute;
    align-items: center;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
}

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 4px;
}

ul li {
    transition: transform 200ms ease-in-out;
}

ul li:hover {
    transform: scale(1.1);
}

.nav-cart img {
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
    transition: transform 200ms ease-in-out;
}

.nav-cart img:hover {
    transform: scale(1.2);
}

.nav-burger-menu {
    display: none;
    fill: white;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
    transition: transform 200ms ease-in-out;
}

.nav-burger-menu:hover {
    transform: scale(1.2);
}

@media (max-width: 980px) {
    ul {
        display: none;
    }

    .nav-burger-menu {
        display: block;
    }
}