.hero-container {
    width: 100%;
    height: 90dvh;
    background: var(--nf-background-color);
    color: white;
}

.hero-content {
    display: flex;
    height: 100%;
}

.hero-left-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.hero-right-content {
    width: 50%;
    position: relative;
}

.hero-right-content img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 80%;
    background-position: right;
    position: absolute;
    z-index: 0;
}

@media (max-width: 980px) {
    .hero-left-content {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        text-align: center;
        padding: 0 10px;
    }

    .hero-text a {
        margin: 0 auto;
    }

    .hero-right-content {
        width: 100%;
    }
    
    .hero-right-content img {
        opacity: 0.5;
    }
}