.hero-container {
    width: 100%;
    height: 90dvh;
    background: var(--nf-background-color);
    color: white;
}

.hero-content {
    display: flex;
    height: 100%;
}

.hero-left-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.hero-right-content {
    width: 50%;
    position: relative;
}

.hero-right-content img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 80%;
    background-position: right;
    position: absolute;
    z-index: 0;
}